<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>

    <!-- insertamos el script de fontawesome para poder hacer uso de iconos de forma mas sencilla -->
    <script src="https://kit.fontawesome.com/f733ff236d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">

    <!-- añadimos los estilos y el script de leaflet para poder hacer uso de mapas en esta pagina -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

</head>

<!-- cargamos el mapa cuando se carga el html del body -->
<body onload="inicializarMapa()">
    <div class="flex-container">

        <header class="header-contacto">
            <div class="contenedor-logo">
                <img src="../resources/images/Logo.png" alt="Logotipo de Lumar Sofás" width="213" height="69"> 
            </div>
            <nav>
                <ul>
                    <!-- como esta pagina se encuentra dentro de la carpeta views, debemos añadir ../ al href del index que se encuentra fuera -->
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="presupuesto.html">Presupuesto</a></li>
                    <li><a href="galeria.html" >Galer&iacute;a</a></li>
                    <li><a href="contacto.html"  class="seleccionado">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <main class="margin-top main-contacto">
           
            <div id="map"></div>
            <div class="datosContacto">
                <h1>Contacto</h1>
                <hr>
                <p>Polígono Industrial C/ Los Molares Nº 16   (FABRICA)</p>
                <p>Crta Almansa S/N  (OFICINAS – SHOW ROOM)</p>
                <p>Montealegre del Castillo, Albacete</p>
                <p>02650 ESPAÑA</p>
                <hr>
                <p class="telefono"> <b>Tel&eacute;fono: </b> +34 967 XXX XXX</p>
                <hr>
                <p><b>Correo:</b> atencionalcliente@lumarsofas.com</p>
            </div>
    
        </main>
        <footer>
            <div class="redes"> 
                <!-- usamos las clases de fontawesome para insertar iconos -->
                <a href="https://x.com"><i class="fa-brands fa-x-twitter"></i></a> 
                <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i> </a>
                <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                </div>
            <div class="direccion">
                <p>Polígono Industrial C/ Los Molares Nº 16   (FABRICA)</p>
                <p>Crta Almansa S/N  (OFICINAS – SHOW ROOM)</p>
                <p>Montealegre del Castillo, Albacete</p>
                <p>02650 ESPAÑA</p>
            </div>
            <div class="aviso"><p> Aviso legal: Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis quae fugit impedit deserunt architecto modi eum consequatur. Rem saepe vitae corrupti nesciunt ratione accusamus. Fugit, aspernatur assumenda quidem veritatis non, veniam beatae aliquam optio placeat ipsum illo blanditiis sit!</p></div>
        </footer>
    </div>
    <script src="../js/contacto.js"></script>
</body>
</html>